.domains { width: 79%; overflow-y: scroll; float: left; }
.sidebar { width: 20%; margin-left: 1%; float: left; }
.true { color: green; }
.false { color: red; }
.lead { font-size: 15px; margin-top: -1em; margin-left: 1em; }
.do-it-live { font-weight: bold; font-size: 1.2em; }
