<p id="notice"><%= notice %></p>

<h1>Listing Agencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.name %></td>
        <td><%= link_to 'Show', agency %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
