<!DOCTYPE html>
<html>
<head>
  <title>DotgovBrowser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1><a href="/">DotGov Browser</a></h1>
<%= yield %>
    <div class="footer">
      <a href="http://ben.balter.com">@BenBalter</a> | <a href="https://github.com/benbalter/dotgov-browser">Source</a> | <a href="https://github.com/benbalter/dotgov-browser/issues">Feedback</a>
    </div>
  </div>
</body>
</html>
